<a href="https://colab.research.google.com/github/suraj-hash/Suraj_INFO5731_Spring2020-/blob/masters/assignment1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
from random import seed
from random import choice
# seed random number generator
seed(1)

9
sequence = [i for i in range(1,100)]
print(sequence)
# make choices from the sequence
for _ in range(12):
 selection = choice(sequence)
print(selection)

def main():
  
    listOfNum = [23, 45, 21, 45, 2, 5, 11, 50, 1, 67,33,55]
    
    
    # print the List
    print("Initial List", listOfNum,  sep='\n')
        
    
    print("Sorting the List in ascending Order")
    
    # Create a sorted copy of existing list
    newList = sorted(listOfNum)
     # print the List
    print("New List", newList,  sep='\n')
     # print the List
    print("Existing List", listOfNum,  sep='\n')
    
    # Sort the List in Place
    listOfNum.sort()
    # print the List
    print("List Sorted in Ascending Order", listOfNum,  sep='\n')
    print("Sorting the List in Descending Order")
    
    # Create a sorted copy of existing list
    newList = sorted(listOfNum, reverse=True)
     # print the List
    print("New List", newList,  sep='\n')
     # print the List
    print("Existing List", listOfNum,  sep='\n')
    
    # Sort the List in Place (Descending Order)
    listOfNum.sort(reverse=True)
    # print the List
    print("List Sorted in Descending Order", listOfNum,  sep='\n')
if __name__ == "__main__":
    main()

    # Example to find the average of the list
from statistics import mean
 
number_list = [23, 45, 21, 45, 2, 5, 11, 50, 1, 67,33,55]
avg = mean(number_list)
print("The average is ", round(avg,2))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
49
Initial List
[23, 45, 21, 45, 2, 5, 11, 50, 1, 67, 33, 55]
Sorting the List in ascending Order
New List
[1, 2, 5, 11, 21, 23, 33, 45, 45, 50, 55, 67]
Existing List
[23, 45, 21, 45, 2, 5, 11, 50, 1, 67, 33, 55]
List Sorted in Ascending Order
[1, 2, 5, 11, 21, 23, 33, 45, 45, 50, 55, 67]
Sorting the List in Descending Order
New List
[67, 55, 50, 45, 45, 33, 23, 21, 11, 5, 2, 1]
Existing List
[1, 2, 5, 11, 21, 23, 33, 45, 45, 50, 55, 67]
List Sorted in Descending Order
[67, 55, 50, 45, 45, 33, 23, 21, 11, 5, 2, 1]
The average is  29.83

#Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
import string
import re

# part 1
one = input("Enter first string: ")
two = input("Enter second string: ")

# part 2
# this splits using space and any of the symbols in [.,!?;:]
a = re.findall(r"[\w']+|[.,!?;:]", one)
b = re.findall(r"[\w']+|[.,!?;:]", two)

print("First list:",a)
print("Second list:",b)

# part 3 printing common words
print("\nFollowing are common")
for word in a:
 for other in b:
   if word.lower() == other.lower():
    print(word)
  
# part 4, checking if the string is in punctuation or not
print("\nFollowing are common without punctuation")
for word in a:
 for other in b:
  if word.lower() == other.lower() and word not in string.punctuation:
   print(word)
  
vowels = {'a':0, 'e':0, 'i':0, 'o':0, 'u':0}
for letter in one:
 if letter.lower() in vowels:
  vowels[letter.lower()] += 1

print("\nVowel frequency in first string:",vowels)

def sumVowel(string): 
    n = len(string) 
    sum = 0
    string = string.lower() 
  
    
    for i in range(0, n): 
        s = string[i] 
  
        # checks if the character is a vowel or not 
        if (s=="a" or s == "e" or s == "i" or s == "o" or s == "u"): 
            sum += ((n - i) * (i + 1))             
  
    # return the total sum of occurrence 
    return sum
   
if __name__ == '__main__':  
    string = "suraj"
    print(sumVowel(string))

Enter first string: suraj is good
Enter second string: suraj's age is 23
First list: ['suraj', 'is', 'good']
Second list: ["suraj's", 'age', 'is', '23']

Following are common
is

Following are common without punctuation
is

Vowel frequency in first string: {'a': 1, 'e': 0, 'i': 1, 'o': 2, 'u': 1}
16

# The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

In [72]:
import math

radius = float(input('Enter radius of sphere: '))
volume = (4/3) * math.pi * radius**3
print('Volume = %0.4f.' % (volume))

Enter radius of sphere: 2
Volume = 33.5103.

#importing the file from github to colab

In [50]:
!wget https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv

--2021-02-01 20:56:47--  https://raw.githubusercontent.com/unt-iialab/info5731_spring2021/main/assignment/Assignment1_denton_housing.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 151.101.0.133, 151.101.64.133, 151.101.128.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|151.101.0.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 1298 (1.3K) [text/plain]
Saving to: ‘Assignment1_denton_housing.csv.9’

Assignment1_denton_ 100%[===================>]   1.27K  --.-KB/s    in 0s

2021-02-01 20:56:47 (35.4 MB/s) - ‘Assignment1_denton_housing.csv.9’ saved [1298/1298]

#In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file Assignment1_denton_housing.csv included with this assignment. The file Assignment1_denton_housing.csv contains statistics about housing in the city of Denton from 2008 to 2014.

In [51]:
import pandas as pd
import statistics

house = pd.read_csv('Assignment1_denton_housing.csv.9')
print('Shape: ',house.shape)
house.head()

Shape:  (42, 3)

   year             title_field  value
0  2014     Total Housing Units  49109
1  2014    Vacant Housing Units   2814
2  2014  Occupied Housing Units  46295
3  2013     Total Housing Units  47888
4  2013    Vacant Housing Units   4215

#Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

In [52]:
occuped_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# the difference in the number of Occupied Housing Units from year to year
diff_house = [list(occuped_houses['value'].values)[loop1] - list(occuped_houses['value'].values)[loop1+1]\
              for loop1 in range(len(occuped_houses)-1)]
diff_house = sorted(diff_house)    # sorting in ascending order
diff_house

[-5091, -2622, -1565, -1404, 303, 795]

# For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

In [54]:
unique_years = sorted(list(house['year'].unique()))   # legging list of unique year number
# number of ocupied houses
occuped_houses = house[house['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# number of vacant houses
vacant_houses = house[house['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

new_house_df = pd.DataFrame()
new_house_df['year'] = unique_years
new_house_df['Vacant House'] = vacant_houses['value'].values
new_house_df['Occupied House'] = occuped_houses['value'].values
new_house_df['Percent of Vacant House'] = [(new_house_df['Vacant House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df['Percent of Occupied House'] = [(new_house_df['Occupied House'][loop1] * 100) /\
                                           (new_house_df['Vacant House'][loop1] + new_house_df['Occupied House'][loop1])\
                                           for loop1 in range(len(new_house_df))]
new_house_df

   year  Vacant House  ...  Percent of Vacant House  Percent of Occupied House
0  2008          4483  ...                10.882653                  89.117347
1  2009          3583  ...                 9.071116                  90.928884
2  2010          3635  ...                 8.142556                  91.857444
3  2011          4213  ...                 9.379522                  90.620478
4  2012          3013  ...                 6.677600                  93.322400
5  2013          4215  ...                 8.801788                  91.198212
6  2014          2814  ...                 5.730111                  94.269889

[7 rows x 5 columns]

#(10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:

In [55]:
# the highest number of vacant housing units
max_vacant_houses = max(house[house['title_field'] == 'Vacant Housing Units'].value)
vacant_houses = vacant_houses[vacant_houses['value'] == max_vacant_houses]
vacant_houses


# the highest number of Occupied housing units
max_occuped_houses = max(house[house['title_field'] == 'Occupied Housing Units'].value)
occuped_houses = occuped_houses[occuped_houses['value'] == max_occuped_houses]
occuped_houses

   year             title_field  value
2  2014  Occupied Housing Units  46295

# Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [56]:
print(statistics.harmonic_mean(list(house[house['title_field'] == 'Total Housing Units'].value)))

44398.28543969185