<a href="https://colab.research.google.com/github/suraj-hash/Suraj_INFO5731_Spring2020-/blob/masters/In_class_exercise/n1_class_excercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Python program to calculate the length of a string

In [2]:
str = input("Enter a string: ")
counter = 0
for s in str:
      counter = counter+1
print("Length of the input string is:", counter)

Enter a string: SURAJ
Length of the input string is: 5

#Python program to count the number of characters in a string

In [12]:
str1 = input("Please Enter your Own String : ")
total = 0
 
for i in str1:
    total = total + 1
 
print("Total Number of Characters in this String = ", total)

Please Enter your Own String : happy republic day
Total Number of Characters in this String =  18

# Python program to sum all the items in a list

In [13]:
lst = []
num = int(input('How many numbers: '))
for n in range(num):
    numbers = int(input('Enter number '))
    lst.append(numbers)
print("Sum of elements in given list is :", sum(lst))

How many numbers: 2
Enter number 10
Enter number 8
Sum of elements in given list is : 18

#Python program to get a string from a given string where all occurrences of its first char have been changed to '\\$', except the first char itself

In [14]:
def change_char(str1):
  char = str1[0]
  str1 = str1.replace(char, '$')
  str1 = char + str1[1:]

  return str1

print(change_char('restart'))

resta$t

#Write a program with python which could accept two parameter a and b to calculate and output the result of S, where \n",
    "\n",
    "$\\ S=3.14*(1+a/b)^3$

In [16]:
a,b = map(int, input() . split(",") )
s = 3.14*(1+a/b)**3
print(s)

1,2
10.5975

#Write a Python program to concatenate following dictionaries to create a new one
 dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}

In [19]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

#program to check whether an element exists within a tuple

In [20]:
t = (1, 2, 3, 4, 5, 6, 7, 8)
print('The tuple is:', t)

print('100 exists in t: ', (10 in t))

# -- Check if any value 10 exist.
print('10 exists in t: ', (8 in t))

# -- Check if any value 23 exist.
print('23 exists in t: ', (6 in t))

The tuple is: (1, 2, 3, 4, 5, 6, 7, 8)
100 exists in t:  False
10 exists in t:  True
23 exists in t:  True

#Write a Python program to find maximum and the minimum value in a set

In [21]:
#Create a set
seta = set([5, 10, 3, 15, 2, 20])
#Find maximum value
print(max(seta))
#Find minimum value
print(min(seta))

20
2

#Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)\n",
    "\n",
    "studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',\n",
    "                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']"

In [121]:
import random
from itertools import islice
#input
student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']
#this is to split the input list with each chunk in range of 3 and 5
length_to_split = []

#first assigning split length list with range of 3 and 5
for i in range(5):
 length_to_split.append(random.randint(3,5))

#if the split length list is not equal to length of input list
for i in range(5):
 if sum(length_to_split)!=len(student_list):
  if length_to_split[i]==3 or length_to_split[i]==4:
   length_to_split[i] = length_to_split[i] + 1
else:
#this is the operation to split the list into chunk with given
 Input = iter(student_list)
Output = [list(islice(Input, elem)) for elem in length_to_split]
  
print("Initial list is:\n", student_list )
print("\nSplit length list: \n", length_to_split)
print("\nList after splitting\n", Output)

Initial list is:
 ['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940', 'bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159', 'msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995', 'at0739', 'at0768', 'mv0299', 'tv0119', 'dy0091']

Split length list:
 [5, 5, 4, 4, 4]

List after splitting
 [['vmb0067', 'pc0353', 'snd0097', 'yye0005', 'sg0940'], ['bk0301', 'rak0120', 'rrk0058', 'spk0057', 'vl0135'], ['nm0547', 'pn0159', 'msp0174', 'dd0420'], ['ds0761', 'rs0850', 'ss1995', 'at0739'], ['at0768', 'mv0299', 'tv0119', 'dy0091']]